<h1>Edit User <%= @user.id %></h1>

<%= form_for @user do |form| %>
	<div>
		<div>Email</div>
		<div><%= form.text_field :email, readonly: true %></div>
	</div>
	<div>
		<div>Name</div>
		<div><%= form.text_field :name %></div>
	</div>
	<div>
		<div>Favorite Game</div>
		<div><%= collection_select(:user, :game_id, Game.all, :id, :name) %></div>
	</div>
	<%= form.submit %>
<% end %>

</br></br>
<%= link_to "Home", users_path %>