<table class="table table-striped text-left">
	<thead class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Favorite Game</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.name %></td>
			<td>
				<% if user.game %>
				<%= user.game.name %>
				<% end %>
			</td>
			<td><%= link_to "Edit", edit_user_path(user.id) %></td>
		</tr>
		<% end %>
	</tbody>
	
</table>

</br><%= link_to "Games Directory", games_path %></br>

</br></br>
<hr>
</br></br></br>

<div >
	<canvas id="signUpChart" width="500" height="300"></canvas>
</div>