<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Favorite Game</th>
			<th>Action</th>
		</tr>
	</thead>

	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.name %></td>
		<td><%= user.fav_game %></td>
		<td><%= link_to "Edit", edit_user_path(user.id) %></td>
	</tr>

	<% end %>
</table>

</br>

<% data = { labels: ["January", "February", "March", "April", "May", "June", "July"], datasets: [{label: "My First dataset", backgroundColor: "rgba(220,220,220,0.2)", borderColor: "rgba(220,220,220,1)",data: [65, 59, 80, 81, 56, 55, 40]},{ label: "My Second dataset", backgroundColor: "rgba(151,187,205,0.2)", borderColor: "rgba(151,187,205,1)", data: [28, 48, 40, 19, 86, 27, 90]}]} %>
 <% options = { } %>

<%= line_chart data, options %>
